
@media only screen and (max-width: 768px) {
    #stage {
        height: 10em;
        width: 20em;
        margin-bottom: 1em;
    }
    
    input {
        width: 70%;
    }
    
    button {
        margin: 5px;
    }
    
    #steam {
        left: 35px;
        top: -13px;
    }

}