//SVG styling

#stage #doodle {
    margin: auto;
    width: 95%;
}

#steam {
    position: absolute;
    left: 70px;
    top: 24px;
    width: 19%;
}

//Randomized Background
$bg0 : url(../img/sunny-bg.svg);
$bg1 : url(../img/partially-cloudy-bg.svg);
$bg2 : url(../img/cloudy-bg.svg);

.bg0 {
    background: $bg0;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 1%;
}

.bg1 {
  background: $bg1;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 1%;
}

.bg2 {
  background: $bg2;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 1%;
}

//Keyframe Animations

.geyser {
  animation: geyser 1.5s infinite;
}

@keyframes geyser {
  0%, 100% {
    transform: scale(.95) translate(5px, 10px);
    transform-origin: 50% 50%;
  }
  
  50% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}

.waterfall {
    animation: waterfall 1s infinite;
}

@keyframes waterfall {
  0%, 100% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  
  50% {
    transform: scale(1.05) translate(-20px, -10px);
    transform-origin: 50% 50%;
  }
}