// Grand Central Station

// Imports

@import 'google-homepage';


// First frame

#line {
    width: 100%;
    transform: scale(1);
    transition: transform .5s;
}

// Last frame

#line:hover {
    transform: scale(1.2);
}